.app-name {
    font-size: 25px;
    color: rgb(43, 3, 87);
    text-shadow: 1px 1px 1px rgb(197, 147, 209);
    font-weight: bold;
}

#wards span {
    display: block !important;
}

#streets span {
    display: block !important;
}

.valid-label {
    border-radius: 0px;
    color: black;
    font-size: small;
    width:90px;
    border: solid 1px white;
    background-color: rgba(131, 171, 247, 0.434);
    margin-right: 5px;

}
