.app-name {
    font-size: 25px;
    color: rgb(43, 3, 87);
    text-shadow: 1px 1px 1px rgb(197, 147, 209);
    font-weight: bold;
}

#wards span {
    display: block !important;
}

#streets span {
    display: block !important;
}

.valid-label {
    border-radius: 0px;
    color: black;
    font-size: small;
    width: 90px;
    border: solid 1px white;
    background-color: rgba(131, 171, 247, 0.434);
    margin-right: 2px;
    margin-left: 2px;

}

.btn {
    margin-bottom: -20px !important;
    margin-top: -20px !important;
}

.form-control-sm {
    height: 2rem !important;
}

.table td img {
    width: 40px !important;
    height: 40px !important;
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 40px !important;
    height: 40px !important;
}

.leftProfSide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS for the loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 6px solid #ffffff;
    border-top-color: #3498db;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.leftProfSide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .nav .nav-item.active>.nav-link .menu-title {
    color: #270a83 !important;
    text-shadow: 1px 1px 1px white;
}

.sidebar .nav .nav-item.active {
    background: white !important;
    margin-right: 30px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    box-shadow: 1px 1px 1px #270a83;
}

.table-head {
    background: linear-gradient(90deg, rgba(128, 63, 10, 0.226), rgba(31, 92, 145, 0.21), rgba(31, 92, 145, 0.21), rgba(31, 92, 145, 0.21), rgba(31, 92, 145, 0.21), rgba(31, 92, 145, 0.21), rgba(128, 63, 10, 0.2262));
    box-shadow: #090505;
}

table th:first-child {
    border-radius: 5px 0 0 0;
}

table th:last-child {
    border-radius: 0 5px 0 0;
}

.form-switch .form-check-input {
    width: 3.5em !important;
}

.form-check .form-check-input {
    float: none !important;

}

.form-check-input {
    height: 25px !important;
    /* margin-top: 0 !important; */
    margin-bottom: -20px !important;
    margin-top: -20px !important;
}

.form-check {
    margin-bottom: -23px !important;
}
