.app-name {
    font-size: 25px;
    color: rgb(43, 3, 87);
    text-shadow: 1px 1px 1px rgb(197, 147, 209);
    font-weight: bold;
}

#wards span {
    display: block !important;
}

#streets span {
    display: block !important;
}

.valid-label {
    border-radius: 0px;
    color: black;
    font-size: small;
    width: 90px;
    border: solid 1px white;
    background-color: rgba(131, 171, 247, 0.434);
    margin-right: 2px;
    margin-left: 2px;

}

.btn {
    margin-bottom: -20px !important;
    margin-top: -20px !important;
}

.form-control-sm {
    height: 2rem !important;
}

.table td img {
    width: 40px !important;
    height: 40px !important;
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 40px !important;
    height: 40px !important;
}
.leftProfSide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}